.wrapper{
    width: 35%;
    margin: auto;
    margin-top: 20px;
    height: auto;
    background-color: #1e1e1e;
    border-radius: 5px;
    color: white;
}

.heading{
    font-size: 34px;
    font-weight: regular;
    color: white;
    text-align: center;
}

.subHeading{
    font-size: 1rem;
    font-weight: 100;
    color: white;
    text-align: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
        width: 75%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
